
main{
    display: grid;
    height: 92vh;
    grid-template-columns: 1fr auto;
    padding: var(--padding__size);
    gap: var(--gap__size);
}

.main__ilustration{
    background-color: green;
}

.main__guide{
    display: flex;
    flex-direction: column;
    gap: var(--gap__size);
}

