
main{
    height: 91vh;
    padding: var(--padding__size);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--gap__size);

    ::-webkit-scrollbar{
        display: block;
    }
}

.main__ilustration{
    position: relative;
    width: 88vmin;
}

.index__ilustration{   
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}   

.main__guide{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0.3vmin;
}

.guide__search{
    cursor: url("/img/search__icon.svg") 10 10, auto;
    background: url("/img/search__icon.svg");
    background-repeat: no-repeat;
    background-size: var(--h4__size);
    background-position: right var(--min__spacing) center;
    font-weight: 600;
}

.guide__list{    
    padding: var(--padding__size) var(--padding__size) var(--padding__size) 0.1vmin;
    border-radius: var(--radius__size);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: var(--gap__size); 
}

/* Mobile Portrait */
@media (min-width: 0px) and (max-width: 1024px) {
    main{
        height: auto;
        grid-template-columns: initial;
        grid-template-rows: 1fr 1fr;     
        gap: var(--gap__size);

        ::-webkit-scrollbar{
            display: none;
        }
    }

    .main__guide{
        padding: 0;
        overflow: initial;
    }

    .guide__list{
        padding: 0;
        overflow: initial;
        box-shadow: none;

        &:hover{
            box-shadow: none;
        }
    }
}