:root{
    --primary-clr: #204394;
    --secondary-clr: #52b247;
    --white-smoke-clr: #fbf9f9;
    --white-clr: #fffffe;
    --primary-text-clr: #696F79;
}
  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: "Rubik", serif;
    line-height: 1.5rem;
    color: var(--primary-text-clr);
}

.body{    
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-rows: 8vh 84vh 8vh;
}

.header{
    width: 100vw;
    background-color: white;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.04);

    display: grid;
    padding-inline: 3vmax;
    grid-template-columns: 40vw 1fr;
}

.header__logo{
    display: flex;
    gap: 1vmax;
    align-items: center;
}

.logo__image{
    width: 2.5vmax;
}

.logo__title{
    font-size: 1vmax;
    color: var(--secondary-clr);
}

.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__option{
    all: unset;
    text-decoration: none;
    font-size: 1vmax;
    color: var(--primary-clr);
    font-weight: 600;
    cursor: pointer;
    transition: color 0.5s ease-in-out, transform 2s ease-in-out;
}

.menu__option:hover{
    color: var(--secondary-clr);
    cursor: pointer;
    transform: scale(1.02);
    transition: color 0.5s ease-in-out, transform 2s ease-in-out;
}

.option--active{
    color: var(--secondary-clr);
}

.main{
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 35%;
    padding: 2vmax;
    gap: 2vmax;
    align-content: center;
    align-items: center;
}

.main__container{
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.04);
    border-radius: 5vmin;
    width: 100%;
    height: 100%;    

    display: grid;
    grid-template-rows: 15% 85%;    
}

.container__heading{
    height: 100%;
    width: 100%;
    border-bottom: 0.15vmax solid rgba(0,0,0,0.04);

    display: flex;
    align-items: center;
    justify-content: space-evenly;    
}

.heading__text{
    font-size: 1.1vmax;
    font-weight: 600;
    transition: color 0.5s ease-in-out, transform 2s ease-in-out;
}

.text--active{
    color: var(--secondary-clr);
}

.heading__text:hover{
    color: var(--secondary-clr);
    cursor: pointer;
    transform: scale(1.02);
    transition: color 0.5s ease-in-out, transform 2s ease-in-out;
}

.container__content{
    width: 100%;
    height: 100%;
    padding: 2.5vmax;
    text-align: justify;
}

.content__text{
    font-size: 1vmax;
    font-weight: 400;
    line-height: 1.4vmax;
}

.main__image{
    width: 100%;
    height: 76vmin;
    display: flex;
}

.image__src{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    border-radius: 4.5vmin;
}

.footer{
    width: 100vw;
    background-color: var(--primary-clr);

    display: grid;
    grid-template-columns: 1fr auto;
    padding-inline: 5vmin;
}

.footer__information{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, max-content);    
    align-items: center;
    column-gap: 5vmin;

    color: white;
    font-size: 0.9vmax;
    font-weight: 500;
    line-height: normal;
}

.social__icons{
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 1.4vmin;
    column-gap: 5vmin;
}

.social__whatsapp{
    cursor: pointer;
    width: 2.8vmin;
}

.social__facebook{
    cursor: pointer;
    width: 2.8vmin;
}