:root{
    --primary-clr: #204394;
    --secondary-clr: #52b247;
    --white-smoke-clr: #fbf9f9;
    --white-clr: #fffffe;
    --primary-text-clr: #696F79;
}
  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: "Rubik", serif;
    line-height: 1.5rem;
    color: var(--primary-text-clr);
}

::-webkit-scrollbar{
    width: 0;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background: transparent;
}

.main__group{
    width: 1fr;
    overflow-y: scroll;
    padding: 5px 2vmax 5px 5px;
    display: flex;
    flex-direction: column;
    gap: 2vmax;
}

.body{    
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 8vh 92vh 16vh;
    color: black;
}

.header{
    width: 100vw;
    background-color: white;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.04);

    display: grid;
    padding-inline: 3vmax;
    grid-template-columns: 40vw 1fr;
}

.header__logo{
    display: flex;
    gap: 1vmax;
    align-items: center;
}

.logo__image{
    width: 2.5vmax;
}

.logo__title{
    font-size: 1vmax;
    color: var(--secondary-clr);
}

.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__option{
    all: unset;
    text-decoration: none;
    font-size: 1vmax;
    color: var(--primary-clr);
    font-weight: 600;
    cursor: pointer;
    transition: color 0.5s ease-in-out, transform 2s ease-in-out;
}

.menu__option:hover{
    color: var(--secondary-clr);
    cursor: pointer;
    transform: scale(1.02);
    transition: color 0.5s ease-in-out, transform 2s ease-in-out;
}

.option--active{
    color: var(--secondary-clr);
}

.footer{
    height: 16vh;
    width: 100vw;
    background-color: var(--primary-clr);

    display: grid;
    grid-template-columns: 1fr auto;
    padding: 1.2vh 9vmin 0 7vmin;
    align-items: end;
}

.footer__information{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, max-content);    
    column-gap: 6vmin;
    align-items: center;
    align-content: space-evenly;

    color: white;
    font-size: 0.9vmax;
    font-weight: 500;
    line-height: normal;
}

.footer__branding{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 2vmin;
}

.branding__image{
    width: 3vmax;
}

.branding__title{
    font-size: 1.1vmax;
    color: white;
}

.social__icons{
    display: flex;
    justify-content: space-evenly;
}

.social__whatsapp{
    cursor: pointer;
    width: 2.8vmin;
}

.social__facebook{
    cursor: pointer;
    width: 2.8vmin;
}




.main{
    display: grid;
    grid-template-columns: 3vmax 1fr;
}

.main__scroll{
    height: 100%;
    width: 100%;
}

.main__up, .main__down{
    all: unset;
    position: sticky;
    background-color: var(--secondary-clr);
    color: white;
    font-size: 1vmax;
    cursor: pointer;
    left: 0;
    width: 2vmax;
    height: 2vmax;
    border-radius: 0% 50% 50% 0%;
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;    
}

.main__up:hover, .main__down:hover{
    transition: transform 0.5s ease-in-out;
    transform: scale(1.3);
}

.main__up{
    margin-top: 3vmin;
    top: 3vmin;
}

.main__down{
    margin-bottom: 3vmin;
    top: 93vmin;
}

.main__swiper{
  width: 100%;
  height: 100%;
  
  overflow: hidden; 
  padding: 0; 
  z-index: 1; 
  display: block;
}

.swiper__container {
  margin: 2vmax 4vmax 2vmax 1vmax;
  padding: 1vmax;
  overflow: hidden;
}

.list__card {
  background: #fff;
  display: flex;
  height: 78vh;
  flex-direction: column;
  border-radius: 5vmin;
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.04);
  transition: transform 0.3s ease;
}

.list__card:hover {
  transform: translateY(-10px);
}

.card__image {
  position: relative;
}

.image__source {
  width: 100%;
  padding: 2vmin;
  border-radius: 5vmin;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.card__date {
  position: absolute;
  background-color: white;
  width: 25vmin;
  height: 7vmin;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0vmin 4.5vmin 0vmin 4.5vmin;
  font-size: 1vmax;
  font-weight: 500;
  color: var(--secondary-clr);
}

.card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 25px 25px;
}

.card__title {
  color: black;
  font-size: 1.2vmax;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 15px;
}

.card__text {
  color: black;
  font-size: 1vmax;
  line-height: normal;
  text-align: justify;
  margin-bottom: 2vmin;
}

.card__footer {
  display: flex;
  margin-top: auto;
  align-items: center;
  padding-top: 3vmin;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.card__button {
  color: #fff;
  height: 3.5vmax;
  width: 11vmax;
  border-radius: 1vmax;
  font-size: 1vmax;
  font-weight: 600;
  text-decoration: none;
  background: var(--secondary-clr);
  box-shadow: 0 4px 10px rgba(99, 102, 241, 0.2);
  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card__button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.04);
}

.swiper__container .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  opacity: 1;
  overflow: hidden;
  position: relative;
  background: rgb(126, 181, 120);
}

.swiper__container .swiper-pagination-bullet-active {
  background: var(--secondary-clr);
} 

/* Auto-play loading indicator */
.swiper__container .swiper-pagination-bullet-active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(66, 161, 55);
  transform-origin: left center;
  transform: scaleX(0);
  animation: autoplay-loading 5s linear forwards;
}

.swiper:hover .swiper__container .swiper-pagination-bullet-active::before {
  animation-play-state: paused;
}

@keyframes autoplay-loading {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.swiper-button-prev::after{
  margin-left: 1vmax;
  font-size: 3vmax;
}

.swiper-button-next::after{
  margin-right: 1vmax;
  font-size: 3vmax;
}

.swiper__container :where(.swiper-button-prev, .swiper-button-next) {  
  color: var(--secondary-clr);
  transition: all 0.3s ease;
}

.swiper__container :where(.swiper-button-prev, .swiper-button-next):hover {
  color: rgb(48, 124, 39);
}

/* Responsive media query code for small screens */
@media (max-width: 768px) {
  .swiper__container {
    margin: 0 10px 25px;
  }

  .swiper__container :where(.swiper-button-prev, .swiper-button-next) {
    display: none;
  }
}